        body{
            background-color: rgb(206, 206, 227);
            font-family: Arial, Helvetica, sans-serif;
        }
        h3{
            background-color: cornflowerblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
            font-size: 15px; 
        }  
           